body {
  background-color: white;
  overflow-x: hidden;
}

#top-bar {
  background-image: url('https://dktix1rrcd7mv.cloudfront.net/media/images/1920x720/How-to-make-an-ice-rink-blog-header.jpg');
  background-position: 80% 20%;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  justify-content: space-between;
}

#logo {
  flex: 1;
  color: rgb(238, 0, 0);
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  position: relative;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.788);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav-buttons {
  display: flex;
  gap: 10px;
}

#loginButton, #cartButton {
  color: rgb(255, 255, 255);
  font-size: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  box-shadow: none;
  border: none;
  background-color: rgb(54, 54, 54);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

#loginButton:hover, #cartButton:hover {
  background-color: rgb(105, 105, 105);
}


#control-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
}

#control-bar select {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-top: 0;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.grid-item img {
  max-width: 100%;
  border-radius: 4px;
}

.grid-item .item-name {
  font-size: 18px;
  margin: 10px 0;
}

.grid-item .item-price {
  font-size: 18px;
  font-weight: bold;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  border-radius: 8px;
}

.close {
  color: #2b2b2b;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#modal-image {
  width: 100%; 
  max-width: 500px; 
  margin-bottom: 20px;
}

#modal-description {
  margin-top: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#modal-price {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#modal-quantity {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#add-to-cart {
  background-color: rgb(0, 110, 28);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 175px;
}

#add-to-cart:disabled:hover {
  cursor: not-allowed;
}
